<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--Update connection string for CardPaymentAccept database-->
    <!--Please update the database name, user ID, and password accordingly-->
    <add name="CardPaymentAccept" connectionString="Data Source=XXXXXX;Initial Catalog=CardPaymentAccept;User Id=XXXXXX;Password=XXXXXX;Integrated Security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.webServer >
    <!--Redirect HTTP request to HTTPS-->
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RedirectToHttps">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$|^post$" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>