<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CatalogsView</title>
    <link href="CatalogsView.css" rel="stylesheet" />
</head>
<body>
    <div class="fragment catalogsView">
        <!-- Progress ring -->
        <div data-bind="loader: { visible: IndeterminateWaitVisible }"></div>

        <!-- Page header -->
        <div id="common-header" data-win-control="WinJS.UI.HtmlControl" data-win-options="{uri: 'Views/Controls/CommonHeader.html'}"></div>
        <section role="main" class="panoramic grow marginBottom0" data-bind="resx: { ariaLabel: 'string_4454' }">
            <!-- Main content -->
            <div class="col no-shrink">
                <div class="no-shrink">
                    <h2 data-bind="resx: { textContent: 'string_35' }"></h2> <!-- Selected store -->
                </div>
                <div class="col width32 primaryBackgroundColor highContrastBorderThin padLeft2 marginTop1" data-bind="visible: Commerce.Session.instance.productCatalogStore.StoreType != Commerce.Model.Entities.StoreButtonControlType.Warehouse">
                    <div class="padTop1 shrink">
                        <a class="h3" href="#" data-bind="text: currentStoreLocation, click: navigateToStoreDetails">Store name</a>
                    </div>
                    <div>
                        <h4 data-win-bind="textContent: currentStore.OrgUnitNumber"></h4>
                    </div>
                    <div class="row marginTop1 marginBottom2">
                        <div>
                            <button class="iconPhoneBig iconDisabled" data-bind="resx: { ariaLabel: 'string_4209' }"></button>  <!-- Phone number -->
                        </div>
                        <div class="padLeft2">
                            <button class="iconEmailBig iconDisabled" data-bind="resx: { ariaLabel: 'string_4211' }"></button>  <!-- Email address -->
                        </div>
                    </div>
                    <div class="height7 secondaryFontColor" data-win-bind="innerHTML: currentStore.OrgUnitAddress Commerce.Core.Converter.threeLineAddressFormatterWithHtmlEscape"></div>
                </div>

                <div class="row width32 height9 primaryBackgroundColor highContrastBorderThin pad1 marginTop1" data-bind="visible: Commerce.Session.instance.productCatalogStore.StoreType == Commerce.Model.Entities.StoreButtonControlType.Warehouse">
                    <div class="width7 height7">
                        <img class="width7 height7 otherStores highContrastBorderThin" />
                    </div>
                    <div class="height7 width23 padLeft1">
                        <div class="padTop05">
                            <h3 class="ellipsis" data-bind="resx: { textContent: 'string_5504' }"></h3> <!--All stores and catalogs-->
                        </div>
                        <div class="secondaryFontColor">
                            <h4 data-bind="resx: { textContent: 'string_44' }"></h4> <!--Search all available products currently for sale anywhere.-->
                        </div>
                    </div>
                </div>

                <div class="marginTop1">
                    <div data-bind="buttonBlock: {  buttonClass: 'iconTarget'
                                                      , labelTextResx: 'string_43' // Use current store
                                                      , click: switchToCurrentStore
                                                     }">
                    </div>
                </div>

                <div>
                    <div data-bind="buttonBlock: {  buttonClass: 'iconLocation'
                                                      , labelTextResx: 'string_30' // Find other stores
                                                      , click: switchToOtherStores
                                                     }">
                    </div>
                </div>
                <div>
                    <div data-bind="buttonBlock: {  buttonClass: 'iconSearch'
                                                      , labelTextResx: 'string_36' // Search all stores and catalogs
                                                      , click: switchToAllStoreProducts
                                                     }">
                    </div>
                </div>
            </div>
            <div class="gutter4x4"></div>
            <div class="col no-shrink">
                <div class="shrink marginBottom1">
                    <h2 data-bind="resx: { textContent: 'string_32' }"></h2> <!-- Catalogs -->
                </div>
                <div class="browseGrid blockStandardGrid noMargin">
                    <div id="productsView"
                         class="win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                                selectionMode: 'none',
                                itemTemplate: select('#categoryCatalogTemplate'),
                                layout: { type: WinJS.UI.GridLayout }
                            }"
                         data-bind="winControl: {
                                itemDataSource: catalogViewModel.catalogs,
                                iteminvoked: ItemInvokedHandler
                            },
                            resx: { ariaLabel: 'string_925' }">
                        <!-- List of products -->
                    </div>
                </div>
            </div>
            <div class="gutter4x4"></div>
        </section>
    </div>
</body>
</html>