<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    <title>Search Stock Count View</title>
    <link href="SearchStockCountView.css" rel="stylesheet" />
    </head>
    <body>
        <div class="fragment searchStockCountView">

            <!-- Indeterminate wait -->
            <div data-bind="loader: { visible: indeterminateWaitVisible }"></div>

            <!-- Page header -->
            <div data-win-control="WinJS.UI.HtmlControl" data-win-options="{uri: 'Views/Controls/CommonHeader.html'}"></div>

            <section role="main" class="col grow" data-bind="resx: { ariaLabel: 'string_4454' }">    <!-- Main content -->
                <div class="row marginBottom1">
                    <h2 data-bind="resx: { textContent: 'string_3303' }">Journal</h2>
                </div>
                <div class="col grow" data-bind="listView: {
                    itemDataSource: searchViewModel.stockCountJournals,
                    selectionchanged: { eventHandlerCallBack: stockCountListSelectionChanged, appBarId: '#commandAppBar' },
                    columns: [
                        { titleResx: 'string_3340', cssClass: 'ratio2', field: 'JournalId' },
                        { titleResx: 'string_3341', field: 'Description' },
                        { titleResx: 'string_3343', cssClass: 'ratio2 textRight', field: 'StockCountTransactionLines', converter: 'Commerce.Core.Converter.TotalCollection' },
                    ]
                }"></div>
            </section>
        </div>

        <div id="commandAppBar" data-win-control="Commerce.AppBarControl" 
            data-win-options="{ sticky : true }">
            
            <button data-win-control="WinJS.UI.AppBarCommand"
                    data-win-options="{
                    id:'syncJournals',
                    extraClass: 'winappbar-iconRefresh',
                    section:'selection'
                }"
                data-bind="winControl: { click: syncAllJournals }, resx: { label: 'string_3313' }" />

            <button data-win-control="WinJS.UI.AppBarCommand"
                data-win-options="{
                    id:'deleteJournal',
                    extraClass: 'winappbar-iconDelete',
                    section:'global'
                }"
                data-bind="winControl: { disabled: deleteJournalsDisabled, click: deleteJournals }, resx: { label: 'string_3310' }" /> 
            
            <button data-win-control="WinJS.UI.AppBarCommand"
                data-win-options="{
                    id:'editJournal',
                    extraClass: 'winappbar-iconEdit',
                    section:'global'
                }"
               data-bind="winControl: { disabled: editJournalDisabled, click: editJournal }, resx: { label: 'string_3311' }" /> 

            <button data-win-control="WinJS.UI.AppBarCommand"
                data-win-options="{
                    id:'newJournal',
                    extraClass: 'winappbar-iconAdd',
                    section:'global'
                }"
                data-bind="winControl: { disabled: createJournalDisabled, click: createJournal }, resx: { label: 'string_3312' }" />
        </div>
    </body>
</html>