<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DateInputDialog</title>

    <link href="DateInputDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'DateInputDialog'">

        <div class="dateInputDialog">
            <div data-bind="dialog:
                {
                    title: title,
                    subTitle: subTitle,
                    visible: visible,
                    buttonClick: buttonClickHandler,
                    closeOnEscButton: true,
                    buttons: [
                        { label: Commerce.ViewModelAdapter.getResourceString('string_75'), operationId: Commerce.Controls.Dialog.OperationIds.OK_BUTTON_CLICK },
                        { label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK }
                    ],
                }" class="dateInputDialog modalWindowContentSection">

                <!-- dialog content -->
                <div class="content"
                     data-win-control="WinJS.UI.DatePicker"
                     data-bind="winControl: {
                        current: currentDate,
                        minYear: minimumYear,
                        toggleChanged: dateChangeHandler
                     }">
                </div>
            </div>
        </div>

    </div>
</body>
</html>
