<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GetQuotationExpirationDateDialog</title>
</head>
<body>
    <div data-bind="customControlInternal: 'GetQuotationExpirationDateDialog'">
        <div data-bind="dialog:
            {
                title: Commerce.ViewModelAdapter.getResourceString('string_4308'),
                visible: visible,
                buttonClick: getQuotationExpirationDateButtonClick,
                buttons: [
                    { label: Commerce.ViewModelAdapter.getResourceString('string_75'), disable: _isOKButtonDisabled, operationId: Commerce.Controls.Dialog.OperationIds.OK_BUTTON_CLICK, isPrimary: true },
                    { label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK, cssClass: 'cancelButton' }]
            }">


            <!-- dialog content -->
            <div class="content">
                <div class="dialogSplitColumn">
                    <label for="shippingDate_DatePicker" data-bind="resx: { textContent: 'string_1873' }">Date</label>
                    <div id="shippingDate_DatePicker" data-win-control="WinJS.UI.DatePicker"
                         data-win-options="{ datePattern: '{day.integer(2)} {dayofweek.full}' }"
                         data-bind="winControl: {minYear: _minYear, toggleChanged: dateChangeHandler, current: _requestedExpirationDate }"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
