<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ListInputDialog</title>

    <link href="ListInputDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'ListInputDialog'">
        <div data-bind="dialog: {
            title: title,
            subTitle: subTitle,
            visible: visible,
            buttonClick: buttonClickHandler,
            buttons: [
                { label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK }
            ],
        }" class="listInputDialog modalWindowContentSection">

            <!-- dialog content -->

            <div class="scrollX height15" id="optionsButtonGrid" data-bind="tileList: {
                    iteminvoked: optionButtonClickHandler,
                    itemDataSource: _options,
                    bottomLeft: { field: '$data' }
                }"></div>
        </div>
    </div>
</body>
</html>
