<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SelectDropDownDialog</title>

    <link href="SelectDropDownDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'SelectDropDownDialog'">

        <div class="selectDropDownDialog">
            <div data-bind="dialog:
                {
                    title: title,
                    subTitle: subTitle,
                    visible: visible,
                    buttonClick: buttonClickHandler,
                    showProgressIndicator: indeterminateWaitVisible,
                    buttons: [
                        { label: Commerce.ViewModelAdapter.getResourceString('string_75'), operationId: Commerce.Controls.Dialog.OperationIds.OK_BUTTON_CLICK },
                        { label: Commerce.ViewModelAdapter.getResourceString('string_76'), operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK }
                    ],
                }" class="selectDropDownDialog modalWindowContentSection">

                <!-- dialog content -->
                <div class="content dropDownArea">
                    <select data-bind="
                            options: _optionsList,
                            value: _selectedOption"></select>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
