<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TimeRegistrationDialog</title>

    <link href="TimeRegistrationDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'TimeRegistrationDialog'">

        <div class="timeRegistrationDialog">
            <div data-bind="dialog:
                {
                    title: title,
                    visible: visible,
                    showProgressIndicator: indeterminateWaitVisible,
                    buttonClick: buttonClickHandler,
                    buttons: [{ label: Commerce.ViewModelAdapter.getResourceString('string_80'), isPrimary: false, operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK }], // Close
                }" class="timeRegistrationDialog modalWindowContentSection">

                <!-- dialog content -->
                <div class="content">
                    <div data-bind="visible: statusLabelsVisible" class="row marginBottom1">
                        <div class="col width12">
                            <label data-bind="resx: { textContent: 'string_4089' }"></label><!-- Current status -->
                            <h4 data-bind="text: lastActivityStatus"></h4>
                        </div>
                        <div class="col">
                            <label data-bind="text: lastActivityDateLabel"></label><!-- Last activity time / Current activity time -->
                            <h4 data-bind="text: lastActivityDate"></h4>
                        </div>
                    </div>
                    <div class="height15 scrollX" data-bind="visible: viewMode() == Commerce.Controls.TimeClockDialogViewMode.Options, tileList: { itemDataSource: optionButtons, iteminvoked: handleTimeClockAction, bottomLeft: { field: 'actionName' }, center: { cssClassField: 'cssClass' } }"></div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
