<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VariantDialog</title>

    <link href="VariantDialog.css" rel="stylesheet" />
</head>
<body>
    <div data-bind="customControlInternal: 'VariantDialog'">
        <div data-bind="dialog: {
            title: title,
            visible: visible,
            buttonClick: dialogButtonClick,
            showProgressIndicator: indeterminateWaitVisible,
            dialogType: Commerce.Controls.Dialog.DialogTypes.SEQUENCE,
            backButtonVisible: _showBackButton,
            backClick: reselectPreviousVariant,
            buttons: [
                { label: Commerce.ViewModelAdapter.getResourceString('string_76'), isPrimary: false, operationId: Commerce.Controls.Dialog.OperationIds.CANCEL_BUTTON_CLICK, cssClass: 'cancelButton' }
            ],
        }">
            <div>
                <div class="marginBottom2">
                    <h4 data-bind="text: subTitle"></h4>
                </div>
                <div class="marginBottom2">
                    <h4 class="secondaryFontColor" data-bind="text: _selectedDimensionValues"></h4>
                </div>
                <div>
                    <h4 class="secondaryFontColor" data-bind="text: _dimensionType"></h4>
                </div>
                <div class="scrollX height15 no-shrink"
                     data-bind="tileList: {
                        iteminvoked: variantInvokedHandler,
                        itemDataSource: _variantOptions,
                        bottomLeft: { field: 'DimensionValue' }
                    }">
                </div>
            </div>
        </div>
    </div>
</body>
</html>