<div id="SearchBar" class="col-md-5 col-sm-7">
    <div class="input-group">
        <input type="text" disabled="disabled" class="form-control float-left" placeholder="@Resources.SearchForProducts">
        <span class="input-group-btn">
            <button class="search-btn float-right btn"></button>
        </span>
    </div>
</div>
