@font-face {
    font-family: Segoe UI;
    src: url(../Assets/Fonts/segoeui.woff);
}

@font-face {
    font-family: Segoe UI Light;
    src: url(../Assets/Fonts/segoeuilight.woff);
}

@font-face {
    font-family: Segoe UI Semilight;
    src: url(../Assets/Fonts/segoeuisemilight.woff);
}
