<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commerceRuntime" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="workflowFoundation" type="Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation.WorkflowFoundationSection, Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ModernPosAzureClientId" value="d6b5a0bd-bf3f-4a8c-b370-619fb3d0e1cc"/>
    <add key="AADLoginUrl" value="https://login.windows.net/common"/>

    <!-- CRT specific -->
    <add key="isConnectionStringOverridden" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="OfflineDatabase" connectionString="Data Source=localhost;Initial Catalog=RetailOfflineDatabase;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
  </connectionStrings>

  <system.diagnostics>
  </system.diagnostics>
  <commerceRuntime configSource="CommerceRuntime.MPOSOffline.config"/>
  <workflowFoundation configSource="workflowFoundation.config"/>
</configuration>