<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commerceRuntime" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="workflowFoundation" type="Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation.WorkflowFoundationSection, Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
  </configSections>
  <appSettings>
    <add key="isConnectionStringOverridden" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="StorageLookupDatabase" connectionString="Data Source=(local);Initial Catalog=RetailHoustonStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="BostonStore" connectionString="Data Source=(local);Initial Catalog=RetailHoustonStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="HoustonStore" connectionString="Data Source=(local);Initial Catalog=RetailHoustonStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="NewYorkStore" connectionString="Data Source=(local);Initial Catalog=RetailNewYorkStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="SeattleStore" connectionString="Data Source=(local);Initial Catalog=RetailSeattleStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="ParisStore" connectionString="Data Source=(local);Initial Catalog=RetailParisStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="MoscowStore" connectionString="Data Source=(local);Initial Catalog=RetailMoscowStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="DelhiStore" connectionString="Data Source=(local);Initial Catalog=RetailDelhiStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="MumbaiStore" connectionString="Data Source=(local);Initial Catalog=RetailMumbaiStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="BangaloreStore" connectionString="Data Source=(local);Initial Catalog=RetailBangaloreStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="RetailContosoStore" connectionString="Data Source=(local);Initial Catalog=RetailHoustonStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="Fabrikam database profile" connectionString="Data Source=(local);Initial Catalog=RetailHoustonStore;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
  </connectionStrings>
  <system.diagnostics>
  </system.diagnostics>
  <commerceRuntime configSource="commerceRuntime.config"/>
  <workflowFoundation configSource="workflowFoundation.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
