<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="no-shrink row grow">
        <div class="grow">
            <h4 class="title"
                data-bind="resx: { textContent: 'string_10055' }">
                TASK RECORDER
            </h4>
        </div>
    </div>
    <div class="col grow padTop1">
        <div class="row">
            <h2 data-bind="resx: { textContent: 'string_10013' }"> Create a new recording </h2>
        </div>
        <div class="padTop2">
            <label class="row" for="recodringNameId" data-bind="resx: { textContent: 'string_10014' }"> Provide a name for the recording </label>
            <input id="recodringNameId" class="row" type="text" data-bind="value: recordingName" />
        </div>
        <div class="padTop2">
            <label class="row" for="recordingDescriptionId" data-bind="resx: { textContent: 'string_10015' }"> Provide a description for your scenario </label>
            <textarea id="recordingDescriptionId" class="row" rows="5" data-bind="value: recordingDescription"> </textarea>
        </div>
        <div class="buttonsContainer row">
            <div class="buttonContainer col no-shrink">
                <button class="primaryButton" type="button" data-bind="resx: { textContent: 'string_10016' }, click: createRecording, disable: isStartRecordingDisabled">Start</button>
            </div>
            <div class="col width2"></div>
            <div class="buttonContainer col no-shrink">
                <button class="secondaryButton" type="button" data-bind="resx: { textContent: 'string_10017' }, click: cancel">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>
