<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dual Display View</title>
    <link href="/Stylesheets/Main.min.css" rel="stylesheet" />

    <script src="/Libraries/winjs/js/WinJS.min.js"></script>
    <script src="/Libraries/knockout-2.2.1.js"></script>
    <script src="/Libraries/jquery.min.js"></script>

    <script src="/Diagnostics.TypeScriptCore.js"></script>
    <script src="/RetailLogger.js"></script>
    <script src="/Commerce.Core.js"></script>
    <script src="DualDisplayView.js"></script>
</head>

<body>
    <div class="dualDisplayView margin2">
        <h1>Dual display</h1>

        <div class="row marginTop3">
            <h2 class="marginRight1">Amount due:</h2>
            <h2 id="amountDue"></h2>
        </div>
    </div>
</body>
</html>
