<?xml version="1.0" encoding="utf-8"?>
<commerceRuntime>
  <!-- For retail server, the defaultOperatingUnitNumber should be empty. -->
  <storage defaultOperatingUnitNumber="" />
  <cache disableCaching="false" disableCacheUpdates="false" forceCacheLookupHostile="false" forceCacheLookupMiss="false" forceCacheLookupHit="false" />
  <composition>
    <!-- 
	Register your own assemblies or types here.
	The the following example registers MyNewCrtService (and all its request handlers). Any other services are not being overridden:
    <add source="type" value="Contoso.Commerce.Runtime.MyNewCrtService, MyCompany.Commerce.Runtime.Services" />
	-->
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.Services, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.Services.Desktop, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.TransactionService, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <!-- Uncomment line below to enable WorkflowFoundation support. -->
    <!--<add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />-->
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.Workflow, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.DataServices, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />      
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.DataServices.SqlServer, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />      
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.DataAccess.SqlServer, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Runtime.Cache.MemoryCache, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
  </composition>
  <realtimeService>
    <certificate thumbprint="2a06a075c31673d755e01d9cda46fe6483473fdf" storeName="My" storeLocation="LocalMachine"/>
  </realtimeService>
</commerceRuntime>