<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="commerceRuntime" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <section name="diagnosticsSection" type="Microsoft.Dynamics.Retail.Diagnostics.Core.Desktop.DiagnosticsConfigSection, Microsoft.Dynamics.Retail.Diagnostics.Core.Desktop, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <section name="hardwareStation" type="Microsoft.Dynamics.Commerce.HardwareStation.Configuration.HardwareStationSection, Microsoft.Dynamics.Commerce.HardwareStation.Core, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </configSections>
    <appSettings>
        <!-- 'OnlineConnectionString' enables MPOS to connect to a store database or local online database. 
                If this key is not provided then MPOS will use Retail server as online data source.-->
        <add key="OnlineConnectionString" value=""/>
        <!-- Add 'OfflineConnectionString' key to enable MPOS with secondary offline database -->
        <add key="OfflineConnectionString" value=""/>
        <!-- Indicates whether events logged from the typescript layer are tunneled to the native event providers.
             Set to "true" to enable event tunneling. -->
        <add key="IsNativeLoggingEnabled" value="true"/>
        <!-- Default download and upload interval in minutes. The value is used if intervals are not configured in AX. -->
        <add key="DefaultOfflineDownloadInterval" value="30"/>
        <add key="DefaultOfflineUploadInterval" value="16"/>
        <!-- AAD settings -->
        <add key="AADLoginUrl" value="https://login.windows.net/common"/> 
        <add key="AADClientId" value="d6b5a0bd-bf3f-4a8c-b370-619fb3d0e1cc"/>
        <add key="AADRetailServerResourceId" value="https://commerce.dynamics.com"/>
        <add key="LocatorServiceUrl" value=""/>
        <add key="RetailServerUrl" value=""/>
        <add key="DeviceId" value=""/>
        <add key="TerminalId" value=""/>
        <add key="InstalledAppVersion" value=""/>
        <add key="CommerceAuthenticationAudience" value="Modern POS"/>
		 <!-- Default sql command time out for applying download data package into offline database-->
        <add key="SqlCommandTimeout" value="3600"/>
        <add key="RetailProxyAssemblyName" value="Microsoft.Dynamics.Commerce.RetailProxy"/>
        <add key="AdaptorCallerFullTypeName" value ="Microsoft.Dynamics.Commerce.RetailProxy.Adapters.AdaptorCaller"/>
    </appSettings>
    <commerceRuntime configSource="CommerceRuntime.MPOSOffline.config"/>
    <hardwareStation>
        <secureStore cipherProvider="DPAPI" />
        <composition>          
          <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation" />
          <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Security" />
          <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Desktop" />
          <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Network" />
          <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Opos" />
          <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.SampleMx925Library" />
        </composition>
    </hardwareStation>
    <diagnosticsSection>
        <application name="Modern POS" id="BF3114C0-8302-46EF-872A-8A479A04EDC5" />
        <workingDirectory path="%LOCALAPPDATA%\Microsoft Dynamics AX\Retail Modern POS" createIfNotExists="true" />
        <emergencySink assembly="Microsoft.Dynamics.Retail.Diagnostics.Sinks" class="Microsoft.Dynamics.Retail.Diagnostics.Sinks.EventLogSink">
            <properties>
                <property name="eventSourceName" value="Microsoft Dynamics - Modern POS" />
            </properties>
        </emergencySink>
        <filter maxDataFieldValueLength="32768" />
        <sinks>
            <sink assembly="Microsoft.Dynamics.Retail.Diagnostics.Sinks" class="Microsoft.Dynamics.Retail.Diagnostics.Sinks.EtwSink" />
            <sink assembly="Microsoft.Dynamics.Diagnostics.Sinks.Portable" class="Microsoft.Dynamics.Diagnostics.Sinks.Portable.EventConsolidator">
                <filter minLevel="Informational" maxDataFieldValueLength="8192" />
                <properties>
                    <property name="eventDbFilePath" value="%LOCALAPPDATA%\Microsoft Dynamics AX\Retail Modern POS\Event.Sqlite.db" />
                    <property name="eventDbBatchSize" value="10" />
                    <property name="eventDbSentThresholdInSeconds" value="300" />
                    <property name="eventDbMaxSize" value="1000" />
                    <property name="eventDbPurgeSize" value="20" />
                    <property name="proxyClass" value="Microsoft.Dynamics.Retail.Diagnostics.Proxies.Desktop, Microsoft.Dynamics.Retail.Diagnostics.Proxies.Desktop.AppInsightsProxy" />
                </properties>
            </sink>
        </sinks>
    </diagnosticsSection>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="BufferedTCPBinding"
                         closeTimeout="00:01:00"
                         openTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:01:00"
                         transferMode="Buffered"
                         listenBacklog="32"
                         maxBufferPoolSize="67108864"
                         maxBufferSize="10485760"
                         maxConnections="16"
                         maxReceivedMessageSize="10485760"
                         portSharingEnabled="true">
                    <readerQuotas maxStringContentLength="1048576"
                          maxBytesPerRead="1048576" />
                    <reliableSession enabled="true"
                                     inactivityTimeout="00:10:00"
                                     ordered="true" />
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding"
                         closeTimeout="00:01:00"
                         openTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:01:00"
                         maxBufferPoolSize="10485760"
                         maxReceivedMessageSize="1048576"
                         textEncoding="utf-16"
                         messageEncoding="Text"
                 useDefaultWebProxy="true">
                    <readerQuotas maxStringContentLength="1048576"
                          maxBytesPerRead="1048576" />
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"
                           proxyCredentialType="None" />
                        <message clientCredentialType="UserName"
                                 algorithmSuite="Default"
                                 negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
