<?xml version="1.0" encoding="utf-8"?>
<workflowFoundation
  storagePath="Workflows\"
  dispatcherType="Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation.WorkflowXamlFileDispatcher"
  dispatcherAssembly="Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
  <add name="Microsoft.Dynamics.Commerce.Runtime.Messages.SaveCartRequest, Microsoft.Dynamics.Commerce.Runtime.Messages, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       value="SaveCart.xaml"/>
  <add name="Microsoft.Dynamics.Commerce.Runtime.Messages.DeleteCartRequest, Microsoft.Dynamics.Commerce.Runtime.Messages, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       value="DeleteCart.xaml"/>
  <add name="Microsoft.Dynamics.Commerce.Runtime.Messages.GetOrdersRequest, Microsoft.Dynamics.Commerce.Runtime.Messages, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       value="GetOrders.xaml"/>
</workflowFoundation>