<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ecommerceControls" type="Contoso.Retail.Ecommerce.Sdk.Controls.ControlsSection, Contoso.Retail.Ecommerce.Sdk.Controls, processorArchitecture=MSIL" />
    <section name="diagnosticsSection" type="Microsoft.Dynamics.Retail.Diagnostics.Core.Desktop.DiagnosticsConfigSection, Microsoft.Dynamics.Retail.Diagnostics.Core.Desktop, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="retailConfiguration" type="Contoso.Retail.Ecommerce.Sdk.Core.RetailConfigurationSection, Contoso.Retail.Ecommerce.Sdk.Core, processorArchitecture=MSIL" />
  </configSections>

  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>

    <!--Tracing is set to 'false' for security reasons.-->
    <trace enabled="false" />
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" domain="" />
    <customErrors mode="On" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <authentication mode="None">
      <forms loginUrl="~/SignIn" requireSSL="true" name=".ASPXAUTHRET" />
    </authentication>
   
  </system.web>
  <ecommerceControls productDetailsUrlTemplate="/ProductDetails?productId={0}">
    <services cartWebApiUrl="/Cart" orgUnitWebApiUrl="/OrgUnit" retailOperationsWebApiUrl="/RetailOperations" customerWebApiUrl="/Customer" salesOrderWebApiUrl="/SalesOrder" productWebApiUrl="/Product" />
    <checkout isDemoMode="true" demoDataPath="../../Common/DemoData/CheckoutData.xml" />
  </ecommerceControls>
  <appSettings>
    <add key="StoreFront_ShoppingCartExpiryTerm" value="3" />
    <add key="Images_Location" value="" />
    <add key="RetailServerRoot" value="https://usnconeboxax1ret.cloud.onebox.dynamics.com/RetailServer/Commerce" />
    <add key="RetailServerMaxPageSize" value="1000" />
    <add key="OperatingUnitNumber" value="068" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="IncludeNonCataloguedProductsByDefault" value="false" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <diagnosticsSection>
    <application name="Microsoft-Dynamics-Commerce-OnlineStore" id="B0B7DF4C-C66C-414F-A3EA-A476F1AE54C0" />
    <sinks>
      <sink assembly="Microsoft.Dynamics.Retail.Diagnostics.Sinks" class="Microsoft.Dynamics.Retail.Diagnostics.Sinks.EtwSink" />
    </sinks>
  </diagnosticsSection>

  <retailConfiguration>
    <identityProviders>
      <add name="Google" displayIndex ="2" issuer="https://accounts.google.com" clientId="58340890588-7fk40bvjjn5n34f1sd9e2ckhnp41gdtj.apps.googleusercontent.com" clientSecret="rCVf5rqxclbfddaRzPm4PBvb" redirectUrl="https://usnconeboxax1ecom.cloud.onebox.dynamics.com/SignIn/OauthV2Redirect" providerType="OpenIdConnect" logOffUrl="https://accounts.google.com/logout" imageUrl="/Content/IMG/i_Google_24.png" />
      <add name="Facebook" displayIndex ="1" issuer="https://ecommerce-facebook.accesscontrol.windows.net/" redirectUrl="https://usnconeboxax1ecom.cloud.onebox.dynamics.com/SignIn/AcsRedirect" providerType="ACS" imageUrl="/Content/IMG/i_Facebook_24.png" />
      <add name="Microsoft" displayIndex ="0" issuer="https://ecommerce-windowslive.accesscontrol.windows.net/" redirectUrl="https://usnconeboxax1ecom.cloud.onebox.dynamics.com/SignIn/AcsRedirect" providerType="ACS" imageUrl="/Content/IMG/i_Microsoft_24.png" />
    </identityProviders>
  </retailConfiguration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.28" newVersion="4.0.2.28" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.28" newVersion="1.0.2.28" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
</configuration>