<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Change Password View</title>
    <link href="ChangePasswordView.css" rel="stylesheet" />
</head>
<body>

    <div class="changePasswordView fragment" data-bind="with: _viewModel">

        <!-- Indeterminate wait -->
        <div data-bind="loader: { visible: _processing }"></div>

        <!--Login panel for accepting user credentials-->
        <section role="main" class="full-screen col grow pad4" data-bind="resx: { ariaLabel: 'string_4454' }">
            <!-- Main content -->

            <div class="center">
                <div class="width50 pad4 primaryBackgroundColor highContrastBorderThin">
                    <div>
                        <h1 class="wrapTextWithoutHyphen" data-bind="resx: { textContent: 'string_6800' }">Change password</h1>
                    </div>

                    <div class="padTop4">
                        <label data-bind="resx: {textContent: 'string_6801'}" for="oldPassword">Old password</label>

                        <input id="oldPassword" type="password"
                               data-bind="value: _oldPassword,
                                    valueUpdate: 'afterkeydown',
                                    enterKeyPress: changePassword,
                                    validator: {
                                        validatorField: 'Password',
                                        validatorType: 'ConnectionRequestValidator'
                                    }" />
                    </div>

                    <div class="padTop2">
                        <label data-bind="resx: {textContent: 'string_6802'}" for="newPassword">New password</label>

                        <input id="newPassword" type="password" required="required"
                               data-bind="value: _newPassword,
                                    valueUpdate: 'afterkeydown',
                                    enterKeyPress: changePassword,
                                    validator: {
                                        validatorField: 'Password',
                                        validatorType: 'ConnectionRequestValidator'
                                    }" />
                    </div>

                    <div class="padTop2">
                        <label data-bind="resx: {textContent: 'string_6803'}" for="confirmPassword">Confirm the new password</label>

                        <input id="confirmPassword" type="password" required="required"
                               data-bind="value: _confirmedNewPassword,
                                    valueUpdate: 'afterkeydown',
                                    enterKeyPress: changePassword,
                                    validator: {
                                        validatorField: 'Password',
                                        validatorType: 'ConnectionRequestValidator'
                                    }" />
                    </div>

                    <div class="padTop4 row alignRight">
                        <button class="primaryButton" data-bind="resx: { textContent: 'string_75' }, click: changePassword">
                            OK
                        </button>

                        <div class="padLeft1">
                            <button class="secondaryButton" data-bind="resx: { textContent: 'string_76' }, click: cancelHandler">
                                Cancel
                            </button>

                            <!-- Since Cancel works as a back button, we must have a nav tag on the page to allow Navigator to identify a back button in the page -->
                            <nav>
                                <!-- Since our Cancel button isn't a back button image, we need a hidden button with class iconNavBack
                                to allow Navigator to identify a back button on the page and allow it to save state correctly for the back operation -->
                                <button class="iconNavBack" data-bind="visible: false"></button>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>
</html>
