<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Change Password View</title>
    <link href="ChangePasswordView.css" rel="stylesheet" />
</head>
<body>
    <div class="changePasswordView fragment">

        <!-- Progress ring -->
        <div data-bind="loader: { visible: indeterminateWaitVisible }"></div>

        <!-- Page header -->
        <div id="common-header" data-win-control="WinJS.UI.HtmlControl" data-win-options="{uri: 'Views/Controls/CommonHeader.html'}"></div>

        <section role="main" data-bind="resx: { ariaLabel: 'string_4454' }">    <!-- Main content -->
            <!-- Password details area -->
            <div class="maxWidth32">
                <label for="operatorIdText" data-bind="resx: { textContent: 'string_6808' }">Operator Id</label>
                <input id="operatorIdText" type="text" tabindex="1" autofocus="autofocus" data-bind="value: operatorId, enterKeyPress: resetPassword" />
                <div id="newPassword" class="marginTop2">
                    <label for="newPasswordText" data-bind="resx: { textContent: 'string_6802' }">New Password</label>
                    <input id="newPasswordText" type="password" tabindex="2" data-bind="value: newPassword, enterKeyPress: resetPassword" />
                </div>
                <div id="confirmPassword" class="marginTop2">
                    <label for="confirmPasswordText" data-bind="resx: { textContent: 'string_6803' }">Confirm the new password</label>
                    <input id="confirmPasswordText" type="password" tabindex="3" data-bind="value: confirmedNewPassword, enterKeyPress: resetPassword" />
                </div>
                <div class="marginTop2">
                    <label data-bind="resx: { textContent: 'string_6816' }">Require operator to change password after use</label>
                    <div class="genericToggle" data-win-control="WinJS.UI.ToggleSwitch"
                         data-bind="winControl: {
                            labelOn: 'string_6817',
                            labelOff: 'string_6818',
                            toggleChanged: toggleRequireChange,
                            toggleOnOff: requireChangeAfterUse,
                        },
                        resx: { ariaLabel: 'string_6816' }">
                    </div>
                </div>
            </div>
        </section>

        <!-- Bottom app bar -->
        <div id="commandAppBar" data-win-control="Commerce.AppBarControl">

            <button data-win-control="WinJS.UI.AppBarCommand"
                    tabindex="4"
                    data-win-options="{id:'performOperationAppBar', label:'OK', extraClass: 'winappbar-iconApply'}"
                    data-bind="click: resetPassword, resx: { label: 'string_75' }"></button>
        </div>
    </div>
</body>
</html>
