.multiselectOptionButton h4::after {
    content: "\00a0" "\E10A";
}

.multiselectOptionButton h4 {
    font-family: DynamicsFont;
    cursor: pointer;
    /*min-height: 2em;*/
    font-weight: 400;
}

.multiselectOptionButton {
    min-height: 2.5em;
    border-width: 0.1em;
    padding: 0 0.8em 0 0.8em;
    border-color: #000000;
    color: #000000 !important;
    margin-bottom: 0.3em;
}

.multiselectOptionBackground {
    min-height: 3em;
    background-color: #e6edf3 !important;
    width: 100%;
}

@media screen and (-ms-high-contrast: active) {
    .multiselectOptionBackground {
        border-width: 0.2em;
        border-style: solid;
        border-color: #ffffff;
    }
}

